/* Correction du chargement des fonts Fontello */
@font-face {
  font-family: Fontello;
  src: url("../fonts/fontello.woff2") format("woff2"), 
       url("../fonts/fontello.woff") format("woff"),
       url("../fonts/fontello.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Forcer l'affichage de la zone admin */
.admine-part {
  background-color: #ffbb47 !important;
  min-height: 40px !important;
  display: flex !important;
  position: relative !important;
  z-index: 1000 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.admine-part .link-admin {
  color: #000 !important;
  padding: 5px 10px;
  text-decoration: underline;
  font-size: 14px !important;
  display: inline-block !important;
}

/* Style pour les boutons de menu actifs (fond rose) */
._2-menu-bouton.w--current {
  background-color: #ffbbad !important; /* Rose correct */
  border-color: #ffbbad !important;
}

._2-menu-bouton.w--current h1 {
  color: #fff !important;
}

/* Icônes avec pseudo-éléments */
.fontello-picot-compte::before {
  content: "\e818"; /* Code pour l'icône "user" */
  font-family: Fontello, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.croix::before {
  content: "\e805"; /* Code pour l'icône "cancel" */
  font-family: Fontello, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

